@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.App {
  background-color: #e9b4b6;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30vmin;
  width: 70vmin;
  z-index: 0;
}
